{% extends "layout.html" %}


{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}

{% block title %}
	My Channels
{% endblock %}

{% block body %}

	<h1>Create Channel</h1>
	<form>
		<div class="form-group">
			<input id="channelName" class="form-control" type="name" name="name" placeholder="name">
		</div>
	

		<div class="form-group">
			<button class="btn btn-primary">Create Channel</button>
		</div>
	</form>
	<h1>My Channels</h1>
	
	
	<div class="form-group">	
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Channel Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody id="channels">
				{% for channel in my_channels %}
					<tr>
						<td>{{ channel.name }}</td>
						<td><a href="{{ url_for('channel', id=channel.id) }}">Chat</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if my_channels is not defined and my_channels|length <= 0 %}
	<div class="form-group">
		<output>You do not participate in any channel.</output>
	</div>
	{% endif %}
	
	<div class="form-group">
		<a href="{{ url_for('index') }}">Return to index</a>
	</div>
	
{% endblock %}
