{% extends "layout.html" %}

{% block title %}
	Review
{% endblock %}

{% block body %}
	<h1>Review</h1>
	<form action="{{ url_for('review', isbn=book.isbn) }}" method="post">
		<div class="form-group">
			<textarea class="form-control" rows="5" name="review" placeholder="Write your review here"></textarea>
		</div>

		<div class="form-group">
			<input class="form-control" min="0" max="5" type="decimal" name="score">
		</div>

		<div class="form-group">
			<button class="btn btn-primary">Submit </button>		
		</div>
	</form>

	<h1>Others reviews</h1>

	{% if reviews is defined  and reviews%}

		{% for review in reviews %}
			<h3>- User number {{review.author_id}}</h3>
			<h5>"{{review.review}}"</h5>
		{% endfor %}

	{% else %}
	<div class="form-group">
		<output>No reviews yet</output>
	</div>
	{% endif %}
	<div class="form-group">
		<a href="{{ url_for('index') }}">Return to index</a>
	</div>
{% endblock %}