{% extends "orders/layout.html" %}

// Loading static JS files
{% load staticfiles%}

{% block title %}
	Rest - Index
{% endblock %}

{% block js %}
	<script src="{% static 'orders/js/index.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			var menu = document.querySelectorAll('.icon-menu');
			debugger
			for (i =0; i<menu.length; i++){
				menu[i].style.color= "#f17060";
			}
		});
	</script>
{% endblock %}

{% block log %}
	{% if user %}
		<a class="icon-exit" href="{% url 'logout' %}" title="Logout"></a>
	{% else %}
		<a class="icon-enter" href="{% url 'login' %}" title="Login"></a>
	{% endif %}
{% endblock %}

{% block logfooter %}
	{% if user %}
		<a class="icon-exit" href="{% url 'logout' %}" title="Logout"></a>
	{% else %}
		<a class="icon-enter" href="{% url 'login' %}" title="Login"></a>
	{% endif %}
{% endblock %}

{% block body %}
	<section class="container">
		<h2 class="subtitulo">Our Menu</h2>
		{% for type in typesOfPizza %}
			<div class="menu-item grid-8">
				<h2>{{type.name}} Pizza</h2>
				<ul>
				{% for pizza in pizzas %}
					{% for price in pizza.prices_of_pizza.all %}

					{% if price.sizeOfPizza.typeOfPizza.id == type.id %}
					<li>
						<div class="button">
							{% if price.id in items.pizza %}
								<a href="#"><span data-id="{{price.id}}" data-type="pizza" data-operation="remove" class="item itemIsSelected icon-cart" title="Remove from the cart"></a>
							{% else %}
								<a href="#"><span data-id="{{price.id}}" data-type="pizza" data-operation="add" class="item icon-cart" title="Add to cart"></a>
							{% endif %}
							
						</div>
						<span>
								<sup>U$</sup>{{price.price}}
						</span>
					
						<div>
							<h3>{{pizza.name}} - {{price.sizeOfPizza.size}} size</h3>
							<p>{{pizza.description}}</p>
						</div>
					</li>

					{% endif %}

					{% endfor %}
				{% endfor %}
				</ul>	
			</div>
		{% endfor %}

		<div class="menu-item grid-8">
			
			<h2>Dinners</h2>
			<ul>
			{% for dinner in dinners %}
				{% for price in dinner.prices_of_dinner.all %}
				<li>
					<div class="button">
						{% if price.id in items.dinner %}
							<a href="#"><span data-id="{{price.id}}" data-type="dinner" data-operation="remove" class="item itemIsSelected icon-cart" type="button" title="Remove from the cart"></a>
						{% else %}
							<a href="#"><span data-id="{{price.id}}" data-type="dinner"  data-operation="add" class="item icon-cart" type="button" title="Add to cart"></a>
						{% endif %}
					</div>
					<span><sup>U$</sup>{{price.price}}</span>					
					<div>
						<h3>{{dinner.name}} - {{price.size}} size</h3>
						<p>{{dinner.description}}</p>
					</div>
				</li>
				{% endfor %}
			{% endfor %}
			</ul>	
		</div>		
		<div class="menu-item grid-8">
			
			<h2>Subs</h2>
			<ul>
			{% for sub in subs %}
				{% for price in sub.prices_of_sub.all %}
				<li>
					<div class="button">
						{% if price.id in items.sub %}
							<a href="#"><span data-id="{{price.id}}" data-type="sub"  data-operation="remove" class="item itemIsSelected icon-cart" type="button" title="Remove from the cart"></a>
						{% else %}
							<a href="#"><span data-id="{{price.id}}" data-type="sub"  data-operation="add" class="item icon-cart" type="button" title="Add to cart"></a>
						{% endif %}
					</div>
					<span><sup>U$</sup>{{price.price}}</span>
					<div>
						<h3>{{sub.name}} - {{price.size}} size</h3>
					</div>
				</li>
				{% endfor %}
			{% endfor %}
			</ul>	
		</div>	

		<div class="menu-item grid-8">
			
			<h2>Pastas</h2>
			<ul>
			{% for pasta in pastas %}
				<li>
					<div class="button">
						{% if pasta.id in items.pasta %}
							<a href="#"><span data-id="{{pasta.id}}" data-type="pasta"  data-operation="remove" class=" item itemIsSelected icon-cart" type="button" title="Remove from the cart"></a>
						{% else %}
							<a href="#"><span data-id="{{pasta.id}}" data-type="pasta" data-operation="add" class="item icon-cart" type="button" title="Add to cart"></a>
						{% endif %}
					</div>
					<span><sup>U$</sup>{{pasta.price}}</span>
					<div>
						<h3>{{pasta.name}}</h3>
						<p>{{pasta.description}}</p>
					</div>
			</li>
			{% endfor %}
			</ul>	
		</div>		

		<div class="menu-item grid-8">
			
			<h2>Salads</h2>
			<ul>
			{% for salad in salads %}
				<li>
					<div class="button">
						{% if salad.id in items.salad %}
							<a href="#"><span data-id="{{salad.id}}" data-type="salad" data-operation="remove" class="item itemIsSelected icon-cart" type="button" title="Remove from the cart"></a>
						{% else %}
							<a href="#"><span data-id="{{salad.id}}" data-type="salad" data-operation="add" class="item icon-cart" type="button" title="Add to cart"></a>
						{% endif %}
					</div>
					<span><sup>U$</sup>{{salad.price}}</span>
					<div>
						<h3>{{salad.name}}</h3>
						<p>{{salad.description}}</p>
					</div>
			</li>
			{% endfor %}
			</ul>	
		</div>				
	</section>

	
{% endblock %}