{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Rest</title>

		<link href='https://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
		<script src="{% static 'orders/js/index.js' %}" type="text/javascript"></script>
	</head>

	<body>
		
		<header>
			<nav>
				<ul>
					<li><a class="glyphicon glyphicon-list-alt" title="Our Menu"  href="{% url 'index' %}"></a></li>
					<li><a class="glyphicon glyphicon-shopping-cart" title="Shopping cart" href="{% url 'index' %}"></a></li>
					<li>{% block log %} {% endblock %}</li>
				</ul>
			</nav>

			<h1><img src="{% static 'img/rest.png' %}" alt="Rest"></h1>

			<p>74 Winthrop Street – Harvard Square</p>
			<p class="telefone">617-876-4897</p>
		</header>

		{% block body %}
        {% endblock %}
        
		<footer>
			<nav class="nav-footer">
				<ul>
					<li class="current_page_item"><a href="index.html">Menu</a></li>
				</ul>
			</nav>

			<p>Rest © 2018. Some rights reserved.</p>
		</footer>

	</body>
</html>